*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
    
}

body{
    font-family: sans-serif;
    background-color: blueviolet;
    text-align: center;
}

header{
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(0, 0, 0, 0.97);
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-size: 3.3rem;
 }
.navbar{
   /* overflow: hidden; */
}

.navbar a{
    color: white;
    font-size: 1.5rem;
    padding: 0 12px 0 12px;
    text-decoration: none;
    transition: .3s ease-out;
}
.navbar a:focus, .navbar a:hover{
    background-color: rgba(255, 255, 255, 0.799);
    color: black;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-around;
    align-items: center;
}
main img{
    max-width: 40%;
}

main span{
    width: 30px;
}
section{
    display: flex;
}
section img{
    max-width: 35%;
}
section#bio{
    justify-content: center;
    align-items: center;
}
section#projects{
scroll-behavior: smooth; 
}
