@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
:root{
    --logo: #a3363d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Silkscreen';
    scroll-behavior: smooth;
    
}

body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
header{
    flex-wrap: wrap;
    color: white;
    background-color: var(--logo);
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-size: 3.3rem;
    color: white;
    font-family: 'Silkscreen';
    transition: 0.2s ease-in-out;
 }

.navbar a{
    color: white;
    font-size: 1.5rem;
    padding: 0 12px 0 12px;
    text-decoration: none;
    transition: .6s ease-out;
}
.navbar a:focus, .navbar a:hover{
    background-color: rgba(255, 255, 255, 0.799);
    color: black;
}
main{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://64.media.tumblr.com/e390629c1ffd5f4a9bf6e9a3696dc7ee/tumblr_omdqg8J0Px1tvci0ho1_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
main .profileMain{
    width: 250px;
    border-radius: 50%;
    border: 5px solid var(--logo);
}
main h1,h2{
    color: rgb(255, 255, 255);
}
main span{
    width: 30px;
}
div.header-text{
    border: 0;
}

section img{
    max-width: 100%;
    height: auto;
}
div.bio-container{
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   flex-direction: row;
   text-align: justify;
}
.bio-about{
    color: aqua;
}
section#projects{
scroll-behavior: smooth; 
}
#projects img{
    max-width: 100%;
    height: auto;
}
footer{
    display: flex;
    background-color: #a3363d;
    font-size: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;

}

 ul li.sm-items{
    position: relative;
    display: inline-block;
    margin: 0px 0.5rem 0 0.5rem;
}