*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
    
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blueviolet;
    text-align: center;
}

header{
    color: white;
    background-color: rgb(240, 78, 78);
    height: 5vh;
    position: sticky;
    top: 0px;
    align-items: center   ;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3rem;
}
.navbar{
    position: absolute;
    right: 0;
    top: 0;
}
nav h1{
    font: 40px;
    text-align: center;
}
nav a{
    margin: 10px;
    color: white;
    font-size: 20px;
    padding: 0 12px 0 12px;
    border-radius: 10px;
    text-decoration: none;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.799);
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-around;
    align-items: center;
}
main img{
    max-width: 35%;
}
main span{
    width: 30px;
}
section *{
    height: 30vh;
}
section#bio{
}
section#projects{
scroll-behavior: smooth; 
}
